#background {
	z-index: 0;
	opacity: 1;
	position: absolute;
}

#hover {
	z-index: 1;
	position: absolute;
}

#animation {
	z-index: 2;
	position: absolute;
}

#mask {
	z-index: 3;
	opacity: 0;
	position: absolute;
}

#test-button {
	margin-top: 800px;
	position: relative;
}
